


<h2>BillsPin:<span class="lead"> An App for Group Expenses</span></h2>

<h3>Add a Bill <span class="lead"> or <button class="btn btn-danger" data-toggle="modal" data-target="#payAFriend"> Pay A Friend </button></span></h3>

<form id="new-bill-form" action="<%= bills_url %>" method="post">
	<input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

	<input type="text" id="bill-name" name="bill[name]" value="<%= @bill.name %>" placeholder="Bill Name">
	<br>

	<textarea id="bill-description" name="bill[description]" value="<%= @bill.description %>" placeholder="Bill Description (optional)" rows="2"></textarea>
	<br>

	<input type="number" id="bill-amount" name="bill[amount]" value="<%= @bill.amount %>" placeholder="Amount">
	<br>

	<br>
	
    <br>
    You are splitting this bill evenly with:
    <br>
    
    <input type="text" name="bill[guests][][name]" ><span class="label label-success"> You </span> paid <input type="number" name="bill[guests][][money_paid]" class="amount-paid" placeholder="Amount">.


    <br>
    <input type="text" class="guest-name" name="bill[guests][][name]" placeholder="Enter Friend Name"> paid <input type="number" name="bill[guests][][money_paid]" class="amount-paid" placeholder="Amount">
    <br>
    <button class="btn btn-primary add-friend">Add Another Friend</button> or <input type="submit" class="btn btn-success" id="add-bill" value="Add Bill">


	<br>
	<div id="guests-on-bill"></div>
	<br>
</form>

<div id="form-submit-messages"></div>


