
<h1 class="d-flex align-items-center justify-content-center">BillsPin	</h1>

<h3>Add a Bill </h3>

<form   id="new-bill-form" action="<%= bills_url %>" method="post">
	
<input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

	<div>
		<div class="col-3">
			<input class="form-control" type="text" id="bill-name" name="bill[name]" value="<%= @bill.name %>" placeholder="Bill Name">
		</div>
		<br>	
		<div class="col-3">
			<textarea class="form-control" id="bill-description" name="bill[description]" value="<%= @bill.description %>" placeholder="Bill Description (optional)" rows="2"></textarea>
		</div>
		<br>
		<div class="col-3">
			<input class="form-control" type="number" id="bill-amount" name="bill[amount]" value="<%= @bill.amount %>" placeholder="Amount">
		</div>
	</div>
	<br>
	<br>
	<button class="btn btn-info" id="split-evenly">Split Evenly</button>
	<%= javascript_pack_tag 'bills' %>
	<br>

	<br>
	<div id="guests-on-bill"></div>
	<br>
</form>
    

<div id="form-submit-messages"></div>

